<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Insurance Profiling</title>
    {{>header}}
</head>
<body>
	{{>navbar}}
	<div class="container">
    {{{body}}}
    </div>
    {{>footer}}
</body>
</html>