<div class="container">
<p> {{message}} </p>

<style>
.profilepic {
    width:100px;
    height:100px;
    border-radius:20px
}
.content {
    margin:20px;
}
</style>

<div layout="row" layout-align="center center">
    <img class="responsive-img" src="/images/logos/marketlead_3.png" width="500px" height="400px">
</div>
<md-content class="md-title"> MarketLead.io is a real time marketing and lead gathering application with multiple integration points with social media and other formats.
  <br>A business can manage and respond to leads and analyze their current customers and audience. <br> We expose and link companies to their future customers in an easy and pluggable manner.</md-content></br>

 <md-tabs md-dynamic-height  md-border-bottom>
     <md-tab label="Team">
       <md-content  class="md-padding">
         <h3 class="md-headline">Valknut Solutions</h3>
         <div>
             <div layout="row">
                 <img src="/images/quinton.jpg" class="profilepic"></img>
                 <div flex class="content">
                     <h5>Quinton Weenink</h5>
                     <p>
                         <b>Degree:</b> BSc Information Technology
                     <p>
                         <b>Project motivation:</b> “Considering the things that most people post on their social media accounts I think that much more than insurance profiling can be done. Lets hope that we can make this modular enough so that, with a few configuration changes, it can also provide other interesting information.”
                     </p>
                </div>
             </div>
         </div>
         <div>
             <div layout="row">
                 <img src="/images/charl.jpeg" class="profilepic"></img>
                 <div flex class="content">
                     <h5>Charl Jansen van Vuuren</h5>
                     <p>
                         <b>Degree:</b> BSc Information Technology
                     <p>
                         <b>Project motivation:</b> “Social media has seen a huge growth in the last 5 years and developing a system based on this form of media is fascinating and can lead to some interesting appli-cation.”
                     </p>
                </div>
                </div>
             </div>
        <div>
            <div layout="row">
                <img src="/images/kevin.jpg" class="profilepic"></img>
                <div flex class="content">
                    <h5>Kevin David Heritage</h5>
                    <p>
                        <b>Degree:</b> BSc Information Technology
                    <p>
                        <b>Project motivation:</b> “Most people are extremely active on their social media (especially on Facebook). This project seemed particularly interesting as it gathers information from a source where the customer willingly gives all of this information without feeling obligated to do so.“
                    </p>
               </div>
               </div>
            </div>
       </md-content>
   </md-tab>
    <md-tab label="Marketing">
      <md-content  class="md-padding">
        <h3 class="md-headline">Marketing</h3>
        <ol>
          <li type="circle">A marketing dashboard will be available with live data analytics.</li>
          <li type="circle">Live user feed with newly applied leads.
        <li type="circle">This dashboard will assist the call centre employees to complete missing information of client data</li>
        <li type="circle">The ability to follow up on unprocessed lead.</li>
      </ol>
      </md-content>
    </md-tab>
    <md-tab label="Analysis">
      <md-content class="md-padding">
        <h3 class="md-headline">Analysis</h3>
        <ol>
          <li type="circle">Allows an analyst the ability to generate a report based on information gathered. </li>
          <li type="circle">Information is based off multiple social media and messenging integrations. </li>
          <li type="circle">Reports are generated in the form of charts based on filters accessible to the analyst </li>
        <ol>
      </md-content>
    </md-tab>
    <md-tab label="Powered By">
      <md-content class="md-padding">
        <ul>
        <li>
            <img src="/images/logos/express.png" alt="Express" width="150px" height="34px">
            <p>Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single, multi-page and hybrid web applications.</p>
        </li>
        <li>
            <img src="/images/logos/angularjs.png" alt="AngularJS" width="237px" height="70px">
            <p>AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
        </li>
        <li>
            <img src="/images/logos/AngularJS-Material.png"  width="237px" height="80px">
            <p>Angular Material is both a UI Component framework and a reference implementation of Google's Material Design Specification.</p>
        </li>
        <li>
            <img src="/images/logos/nodejs.png" alt="Node.js" width="205px" height="60px">
            <p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.</p>
        </li>
        <li>
            <img src="/images/logos/sequelize-logo.png" width="205px" height="120px">
            <p>Sequelize is a promise-based ORM for Node.js.</p>
        </li>
        <li>
            <img src="/images/logos/postgresql-logo.png" width="205px" height="180px">
            <p>Postgresql is a mature database management system.</p>
        </li>
        <li>
            <img src="/images/logos/chartjs-logo.svg" width="205px" height="120px">
            <p>Simple yet flexible JavaScript charting for designers and developers.</p>
        </li>
        </ul>
      </md-content>
    </md-tab>
    <md-tab label="Integrates with">
      <md-content class="md-padding">
        <ul>
        <li>
            <img src="/images/logos/fb.png"  width="80px" height="80px">
            <p>Facebook is an online social media and social networking service based in Menlo Park, California, United States. </p>
        </li>
        <li>
            <img src="/images/logos/messenger.svg"  width="100px" height="120px">
            <p>Facebook messenger is a cross-platform messaging service, designed by Facebook, to integrate with a user's social media information.</p>
        </li>
        <li>
            <img src="/images/logos/wechat.svg"  width="100px" height="120px">
            <p>Wechat is a a cross-platform messaging service which integrates with business technologies to allow transactions inside the application.</p>
        </li>
      </md-content>
    </md-tab>
</div>
