<div class="container">
<h3>About</h3>
<p> {{message}} </p>

<md-content><b>Description:</b> MarketLead.io is a real time marketing and lead gathering application with multiple integration points with social media and other formats. A business can manage and respond to leads and analyze their current customers and audience. We expose and link companies to their future customers in an easy and pluggable manner.</md-content></br>

 <md-tabs md-dynamic-height  md-border-bottom>
 <md-tab label="Team">
   <md-content  class="md-padding">
     <h3 class="md-display-2">Valknut Solutions</h3>
     <p>A marketing dashboard will be available with live data analytics.
     This dashboard will assist the call centre employees to complete
     missing information of client data or to follow up on a processed lead. </p>
   </md-content>
 </md-tab>
<md-tab label="Marketing">
  <md-content  class="md-padding">
    <h3 class="md-display-2">Marketing</h3>
    <p>A marketing dashboard will be available with live data analytics.
    This dashboard will assist the call centre employees to complete
    missing information of client data or to follow up on a processed lead. </p>
  </md-content>
</md-tab>
<md-tab label="Analyst">
  <md-content class="md-padding">
    <h3 class="md-display-2">Analyst</h3>
    <p>Allows an analyst the ability to generate a report based on information gathered <br>
    Planned future implementations will allow for integration from a WeChat bot as information provider. <br></p>
  </md-content>
</md-tab>
  </p>
</div>
