
<div class="container">
  <h3 class="md-headline"> Ways to connect: </h3>
  <md-tabs md-dynamic-height class="md-padding">
    <md-tab label="Facebook Messenger" layout="row" class="md-padding">
      <div layout="row" class="md-padding">
        <div>
          <a href="http://m.me/marketlead.io">
            <img src="/images/connectCodes/messenger.png" width="150px" height="150px">
          </a>
        </div>
        <div layout="row" class="md-padding">
          <ol>
            <li>Open the Facebook Messenger application</li>
            <li>Click on your profile</li>
            <li>Click on your profile picture</li>
            <li>Click Scan code tab</li>
            <li>Scan the code to the left to start chatting to the bot</li>
            <li>Say "Hi" to the bot</li>
            <li>Follow the bot's instructions</li>
            <li><b>Alternatively</b> : Click the code to the left</li>
            <li><b>Alternatively</b> : Navigate to <a href="http://m.me/marketlead.io">MarketLead Messenger</a>
            </li>
        </ol>
        </div>
        <div layout="row" class="md-padding">
        <a href='https://play.google.com/store/apps/details?id=com.facebook.orca&hl=en'>
          <img height="60px" width="auto" alt='Get it on Google Play' src='/images/downloadStores/playstore.png'/></a>
        </div>
        <div layout="row" class="md-padding">
        <a href='https://itunes.apple.com/us/app/messenger/id454638411?mt=8'>
          <img height="62px" width="auto" alt='Get it on the Appstore' src='/images/downloadStores/appstore.png'/></a>
        </div>
    </div>

    </md-tab>

    <md-tab label="Wechat" layout="row" class="md-padding">
      <div layout="row" class="md-padding">
        <div>
          <img src="/images/connectCodes/wechat.jpg" width="150px" height="150px">
        </div>
        <div layout="row" class="md-padding">
          <ol>
            <li>Open the Wechat application</li>
            <li>Click the plus icon in the right corner</li>
            <li>Click the scan QR code link</li>
            <li>Scan the code to the left to start chatting to the bot</li>
            <li>Say "Hi" to the bot</li>
            <li>Follow the bot's instructions</li>
          </ol>
        </div>
        <div layout="row" class="md-padding">
        <a href='https://play.google.com/store/apps/details?id=com.tencent.mm&hl=en'>
          <img height="60px" width="auto" alt='Get it on Google Play' src='/images/downloadStores/playstore.png'/></a>
        </div>
        <div layout="row" class="md-padding">
        <a href='https://itunes.apple.com/za/app/wechat/id414478124?mt=8'>
          <img height="62px" width="auto" alt='Get it on the Appstore' src='/images/downloadStores/appstore.png'/></a>
        </div>
      </div>
    </md-tab>

    <md-tab label="Website" layout="row" class="md-padding">
      <div layout="row" class="md-padding">
        <div layout="row" class="md-padding">
          <ol>
            <li>Navigate to <a href="#lead">User details</a></li>
            <li>Fill in your details</li>
            <li>Click submit</li>
            <li>We will contact you shortly</li>
          </ol>
        </div>
      </div>
    </md-tab>

  </md-tabs>

</div>
