
<h2>Generate a report </h2>
<div  class="md-padding" ng-cloak>
  <div >
    <fieldset class="standard"ng-hide="showForm" >
      <legend>Checkbox based example for chart generation</legend>
      <div  layout="column" layout-wrap layout-gt-sm="row" >
        <div flex-xs flex="50">
          <md-checkbox ng-model="data.cb1" aria-label="Location">
            Age : {{ data.cb1 }}
          </md-checkbox>
        </div>
      </div>
      <div layout="column" layout-wrap layout-gt-sm="row" >
        <div flex-xs flex="50">
          <md-checkbox ng-model="data.cb2" aria-label="Gender">
            Gender : {{ data.cb2}}
          </md-checkbox>
        </div>
      </div>

      <md-button ng-click="submit();showForm = !showForm" type="submit" class="md-raised">Generate Graph</md-button>
      {{message}}
    </fieldset>

    <div>
      {{message}}
      <md-content class="md-padding">
        <h1 class="md-display-2">Pie Chart Example</h1>
        <canvas id="pie" class="chart chart-pie"
        chart-data="data" chart-labels="labels" chart-options="options">
      </canvas>
    </md-content>
  </div>

</div>
</div>
