
<h2 class="md-headline">Generate a report </h2>
<div layout="row" layout-xs="column" layout-sm="column">
  <div flex>
      <fieldset class="standard"ng-hide="showForm" >
        <legend>Report</legend>
        <fieldset>
          <legend>Choose the information to display</legend>
          <md-radio-group ng-model="data.group1">
            <md-radio-button ng-checked="checked" value="age" >Age</md-radio-button>
            <md-radio-button value="gender"> Gender </md-radio-button>
            <md-radio-button value="location">Location</md-radio-button>
            <md-radio-button value="marital">Marital Status</md-radio-button>
          </md-radio-group>
        </fieldset>
        <fieldset
        <legend>Choose the type of graph to display</legend>
        <md-radio-group ng-model="data.graphType">
          <md-radio-button value="pie" >Pie Chart</md-radio-button>
          <md-radio-button value="bar"> Bar Chart </md-radio-button>
        </md-radio-group>
      </fieldset>
      <md-button ng-click="submit();" type="button" class="md-raised">Generate Report</md-button>
      {{message}}
    </fieldset>
  </div>
    <div flex>
      <div ng-show="showPie">
        {{message}}
        <md-content class="md-padding">
          <canvas id="pie" class="chart chart-pie"
          chart-data="data" chart-labels="labels" chart-options="options">
        </canvas>
      </md-content>
    </div>
    <div ng-show="showBar">
      <md-content class="md-padding">
        <canvas id="bar" class="chart chart-bar ng-isolate-scope" chart-data="data"
        chart-labels="labels" chart-series="series" chart-options="options"
        style="display: block; width: 359px; height: 179px;" width="359" height="179"></canvas>
      </md-content>
    </div>
  </div>
</div>
