<div class="container">
<div class="row">
  <h1 class="md-headline" >Geographic information </h3>
    <div class="col l6 m12 s12">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Users per region</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div id="regions_div" style="width:auto"></div>
        </md-card-content>
      </md-card>
    </div>
    <div class="col l6 m12 s12">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Users per Country</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div id="africa_div" style="width:auto"></div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
</div>
