<!--

<h4>Chart Example</h4>
<p>
{{ message }}
<button class="md-raised" ng-click="showChart = !showChart">Show</button>

<div ng-show="showChart" id="LineChart">

</div>
</p>
</div> -->
<div class="container">
  <div ng-controller="SelectedTextController" class="md-padding" ng-cloak>
    <div>
      <h1 class="md-title">Pick an item below</h1>
      <div layout="row">
        <md-input-container>
          <label>Items</label>
          <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
            <md-optgroup label="items">
              <md-option ng-value="item" ng-repeat="item in items">{{item}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
    </div>
  </div>

  <md-button ng-click="showChart = !showChart" class="md-raised">Generate graph</md-button>

  <p>  {{message}} </p>
  <div ng-cloak ng-show="showChart">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Line Chart">
          <div ng-controller="LineCtrl">
            <md-content class="md-padding">
              <h1 class="md-display-2">Line chart Example</h1>
              <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-series="series" chart-options="options"
              chart-dataset-override="datasetOverride" chart-click="onClick"
            </canvas>
          </md-content>
        </div>
      </md-tab>

      <md-tab label="Pie Chart">
        <div ng-controller="PieCtrl">
          {{message}}
          <md-content class="md-padding">
            <h1 class="md-display-2">Pie Chart Example</h1>
            <canvas id="pie" class="chart chart-pie"
            chart-data="data" chart-labels="labels" chart-options="options">
          </canvas>
        </md-content>
      </div>
    </md-tab>

    <md-tab label="Bubble Chart">
      <div ng-controller="BubbleCtrl">
        <md-content class="md-padding">
          <h1 class="md-display-2">Bubble Chart</h1>
          <canvas id="base" class="chart-bubble" chart-data="data" chart-series="series" >
          </canvas>
        </md-content>
      </div>
    </md-tab>

  </md-tabs>
</md-content>
</div>
</div
