<!--

<h4>Chart Example</h4>
<p>
  	 {{ message }}
    <button class="md-raised" ng-click="showChart = !showChart">Show</button>

    <div ng-show="showChart" id="LineChart">

    </div>
</p>
</div> -->
<div class="container">
<p>  {{message}} </p>
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Line Chart">
        <div ng-controller="LineCtrl">
        <md-content class="md-padding">
          <h1 class="md-display-2">Line chart Example</h1>
          <canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-series="series" chart-options="options"
          chart-dataset-override="datasetOverride" chart-click="onClick"
          </canvas>
        </md-content>
      </div>
      </md-tab>

      <md-tab label="Pie Chart">
        <div ng-controller="PieCtrl">
        <md-content class="md-padding">
          <h1 class="md-display-2">Pie Chart Example</h1>
        <canvas id="pie" class="chart chart-pie"
          chart-data="data" chart-labels="labels" chart-options="options">
        </canvas>
        </md-content>
      </div>
      </md-tab>

      <md-tab label="Bubble Chart">
        <div ng-controller="BubbleCtrl">
        <md-content class="md-padding">
          <h1 class="md-display-2">Bubble Chart</h1>
          <canvas id="base" class="chart-bubble" chart-data="data" chart-series="series" >
          </canvas>
        </md-content>
        </div>
      </md-tab>

    </md-tabs>
  </md-content>
</div>
</div
