<style>
	.nomarginplease {
		margin: 0px
	}
</style>

<div ng-controller="LeadController" class="container" ng-cloak>

    <!-- show any messages that come back with authentication -->
    <div class="alert alert-danger">{{ message }}</div>

    <md-content layout-gt-lg="row" layout-align="space-between center" layout-padding>
		<md-card>
			<md-card-title>
			  <md-card-title-text>
				<span class="md-headline">Please enter your data and we will contact you back:</span>
			  </md-card-title-text>
			</md-card-title>
			<md-card-content>
				<div class="row">
					<div layout="row" class="col l6 m6 s12">
						<md-input-container class="nomarginplease" flex>
		                  <label>First name</label>
		                  <input ng-model='user.first_name'>
					  	</md-input-container>
					</div>
					<div layout="row" class="col l6 m6 s12">
						<md-input-container class="nomarginplease" flex>
		                  <label>Last name</label>
		                  <input ng-model='user.last_name'>
		                </md-input-container>
				  	</div>
				</div>
				<div class="row">
					<div layout="row" class="col l6 m6 s12">
						<md-input-container class="nomarginplease" flex>
							<label>Contact number</label>
  							<input ng-model='user.phone_number'>
		                </md-input-container>
				  	</div>
					<div layout="row" class="col l6 m6 s12">
						<md-input-container class="nomarginplease" flex>
							<label>Date of birth</label>
		                    <md-datepicker ng-model="user.date_of_birth"></md-datepicker>
		                </md-input-container>
				  	</div>
				</div>
				<div class="row">
					<div layout="row" class="col l6 m6 s12">
						<md-input-container class="nomarginplease" flex>
							<label>City</label>
		                    <input ng-model='user.city' id="city">
		                </md-input-container>
				  	</div>
					<div layout="row" class="col l6 m6 s12">
						<md-input-container class="nomarginplease" flex>
							<label>Email</label>
		                    <input type='email' ng-model='user.email'>
						</md-input-container>
				  	</div>
				</div>
				<div class="row">
					<div layout="row" class="col l6 m6 s12">
						<md-input-container style="margin-top: 0px; martgin-bottom:10px; margin-left:0px; margin-right:0px" flex>
							<label>Marital Status</label>
							<md-select ng-model="user.marital_status">
					          <md-option ng-repeat="status in selections.marital_status" value="{{status}}">{{status}}</md-option>
					        </md-select>
		                </md-input-container>
				  	</div>
					<div layout="row" class="col l6 m6 s12">
						<md-input-container class="nomarginplease" flex>
							<label>Gender</label>
							<md-select ng-model="user.gender">
					          <md-option ng-repeat="gen in selections.gender" value="{{gen}}">{{gen}}</md-option>
					        </md-select>
		                </md-input-container>
				  	</div>
				</div>
					<md-input-container class="nomarginplease" flex>
						<md-button ng-click="postForm($http)" class="md-raised md-primary">Submit</md-button>
					</md-input-container>
				</div>
			</md-card-content>
		</md-card>
  </md-content>
</div>
</md-content>

</div>
