<style>
table, th , td {

  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<div class="container">
    <h4>Current leads: </h4>

    <!-- show any messages that come back with authentication -->
    <div collapse="isCollapsed" class="alert">{{ message }}</div>


    <!-- LEAD FORM -->

<div>
    <md-content layout-gt-lg="row" layout-align="space-between center">

        <table>
           <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Phone number</th>
              <th>Date of birth</th>
              <th>Email</th>
			  <th>Options</th>
           </tr>

           <tr ng-repeat = "user in users">
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.phone_number }}</td>
              <td>{{ user.date_of_birth }}</td>
              <td>{{ user.email }}</td>
			  <td><md-button class="md-raised md-warn" ng-click="customLead(user, $event)" content=user>Process</md-button></td>
           </tr>
        </table>
  </md-content>
</div>
</md-content>

</div>
