<style>
	.nomarginplease {
		margin: 0px
	}
</style>

<div ng-controller="loginController" class="container" ng-cloak>
    <div class="alert alert-danger">
        {{message}}
    </div>
     <md-tabs md-dynamic-height  md-border-bottom>
         <md-tab label="Analyst">
           <div class="row">
			   <div class="col l6 m6 s12">
   				<md-card>
   			        <md-card-title>
   			          <md-card-title-text>
   			            <span class="md-headline">Analyst login</span>
   			          </md-card-title-text>
   			        </md-card-title>
   			        <md-card-content>
							<div layout="row">
								<md-input-container class="nomarginplease" flex>
								  <label>Email</label>
								  <input type='email' ng-model='analystLogin.email'>
								</md-input-container>
							</div>
							<div layout="row">
								<md-input-container class="nomarginplease" flex>
								  <label>Password</label>
								  <input type='password' ng-model='analystLogin.password'>
							  </md-input-container><br/>
						  </div>
							<md-input-container class="nomarginplease" flex>
								<md-button ng-click="postAnalystLogin($http)" class="md-raised md-primary">Login</md-button>
							</md-input-container>
   			        </md-card-content>
   	      		</md-card>
   			</div>
			<div class="col l6 m6 s12">
			 <md-card>
				 <md-card-title>
				   <md-card-title-text>
					 <span class="md-headline">Analyst signup</span>
				   </md-card-title-text>
				 </md-card-title>
				 <md-card-content>
						 <div layout="row">
							 <md-input-container class="nomarginplease" flex>
							   <label>Email</label>
							   <input type='email' ng-model='analystSignup.email'>
							 </md-input-container>
						 </div>
						 <div layout="row">
							 <md-input-container class="nomarginplease" flex>
							   <label>Password</label>
							   <input type='password' ng-model='analystSignup.password'>
							 </md-input-container>
						 </div>
						 <md-input-containerv class="nomarginplease" flex>
							 <md-button ng-click="postAnalystSignup($http)" class="md-raised md-primary">Sign-up</md-button>
						 </md-input-container>
				 </md-card-content>
			 </md-card>
		 </div>

        </div>
        </md-tab>
        <md-tab label="Facebook">
          <md-content  class="md-padding">
              <h1><span class="fa fa-lock"></span> Login page</h1>
      		<p>{{ message }}</p>
					    <p id="facebookLoading">Please be patient as Facebook loads</p>
					    <p id="loginInstructions" style="display: none;">Login to Facebook and choose the page you want the lead ad on</p>
					    <button onclick="facebookLoginLeads()" id="facebookLoginButtonLeads" class="waves-effect waves-light btn" style="display: none;">Login with Facebook</button>
					    <button onclick="createLeadForm()" id="createLeadForm" class="waves-effect waves-light btn" style="display: none;">Create lead form</button>
					    <ul id="pagesList"></ul>
          </md-content>
        </md-tab>
        <md-tab label="Admin">
            <div layout='row'>
                <div flex>
                          <h5>Admin login</h5>
                          <div layout="row">
                                  <form action='#' novalidate>
                                      <div layout="row">
                                          <md-input-container layout-margin flex>
                                            <label>Email</label>
                                            <input type='email' ng-model='adminLogin.email'>
                                          </md-input-container>
                                      </div>
                                      <div layout="row">
                                          <md-input-container layout-margin flex>
                                            <label>Password</label>
                                            <input type='password' ng-model='adminLogin.password'>
                                          </md-input-container>
                                      </div>
                                      <md-input-container>
                                          <md-button ng-click="postAdminLogin($http)" class="md-raised md-primary">Submit</md-button>
                                      </md-input-container>
                                  </form>
                          </div>
                </div>
                <div flex>
                          <h5>Admin signup</h5>
                          <div layout="row">
                                  <form action='#' novalidate>
                                      <div layout="row">
                                          <md-input-container layout-margin flex>
                                            <label>Email</label>
                                            <input type='email' ng-model='adminSignup.email'>
                                          </md-input-container>
                                      </div>
                                      <div layout="row">
                                          <md-input-container layout-margin flex>
                                            <label>Password</label>
                                            <input type='password' ng-model='adminSignup.password'>
                                          </md-input-container>
                                      </div>
                                      <md-input-container>
                                          <md-button ng-click="postAdminSignup($http)" class="md-raised md-primary">Submit</md-button>
                                      </md-input-container>
                                  </form>
                          </div>
                </div>
         </div>
        </md-tab>
    </div>


</div>
