<div class="container">
    <h4>Analyst login: </h4>

    <!-- show any messages that come back with authentication -->
    <div class="alert alert-danger">{{ message }}</div>


    <!-- LEAD FORM -->

<div>
    <md-content layout-gt-lg="row" layout-align="space-between center">
        <form action='#' novalidate>
            <div layout="row">
                <lg-input-container layout-margin flex>
                  <label>Email</label>
                  <input type='email' ng-model='analyst.email'>
                </lg-input-container>
            </div>
            <div layout="row">
                <lg-input-container layout-margin flex>
                  <label>Password</label>
                  <input type='password' ng-model='analyst.password'>
                </lg-input-container>
            </div>
            <lg-input-container>
                <md-button ng-click="postForm($http)" class="md-raised md-primary">Submit</md-button>
            </lg-input-container>
        </form>
      </div>
  </md-content>
</div>
</md-content>

</div>
