<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Login page</h1>
		<p>{{ message }}</p>
        <p>Login or Register with:</p>
		
        <a href="#login_form" class="btn btn-default"><span class="fa fa-user"></span> Analyst Login</a>
        <a href="#signup" class="btn btn-default"><span class="fa fa-user"></span> User Login</a>
        <a href="#signup" class="btn btn-default"><span class="fa fa-user"></span> User Signup</a>
    </div>

</div>