<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Lead</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"><i class="material-icons">clear</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
		  <div class="row">
  		    <table>
  		      <tr><td>First Name: </td><td>{{ user.first_name }}</td></tr>
  		      <tr><td>Last Name: </td><td>{{ user.last_name }}</td></tr>
  		      <tr><td>Phone number: </td><td>{{ user.phone_number }}</td></tr>
  		      <tr><td>Marital status: </td><td>{{ user.marital_status }}</td></tr>
  		      <tr><td>Age: </td><td>{{ user.date_of_birth }}</td></tr>
  		      <tr><td>Gender: </td><td>{{ user.gender }}</td></tr>
  		      <tr><td>City: </td><td>{{ user.city }}</td></tr>
  		      <tr><td>Email: </td><td>{{ user.email }}</td></tr>
  		      <tr><td>Integration point: </td><td>{{ user.from }}</td></tr>
  		      <tr><td>Processed: </td><td>{{ user.processed }}</td></tr>
  		     </table>
  			</div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Cancel Processing
      </md-button>
      <md-button ng-click="process()">
        Process
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
