<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup your page</h1>
    <p>Login to Facebook and choose the page you want the lead ad on</p>
    <button onclick="facebookLoginLeads()" id="facebookLoginButtonLeads" class="waves-effect waves-light btn">Login with Facebook</button>
    <!-- <button onclick="sendPageAccessToken('pageID', 'page access token', 'page name')" id="dummy buton" class="waves-effect waves-light btn">Send page access token to backend</button> -->
    <ul id="pagesList"></ul>
</div>
